In [4]:
import pandas as pd
import numpy as np

In [76]:
A = input()
A = A.split()
print(', ', end = '')
for i in A[:-1]:
    print("'" + i + "'" + ", ", end = '')
print("'" + A[-1] + "'")

/mwm-Li2ScH20 Fd-3m-L12YH17 Fd-3m-L12iaH17 Ram-LiScH10 Fd-3m-L12ScH16 Fd-3m-L12ScH17 Fd-3m-L12YH16
, '/mwm-Li2ScH20', 'Fd-3m-L12YH17', 'Fd-3m-L12iaH17', 'Ram-LiScH10', 'Fd-3m-L12ScH16', 'Fd-3m-L12ScH17', 'Fd-3m-L12YH16'

In [78]:
A = input()
A = A.split()
print(', ', end = '')
for i in A[:-1]:
    print(i + ", ", end = '')
print(A[-1])

242.0 64.0 118.0 52.0 262.0 94.0 251.0
, 242.0, 64.0, 118.0, 52.0, 262.0, 94.0, 251.0

In [80]:
formula_sc = [np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, 
              np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, 
              np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, 
              np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, 
              np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
              np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
              np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
              np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
              np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
              np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
              np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
              np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
              np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
              np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
              np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
              np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
              np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
              np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
              np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
              np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
              np.nan, np.nan, np.nan]

compound = ['C2/m', 'C2/m', 'C2/m', 'Cmcm', 'Immm', 'Immm',
            'Immm', 'P1', 'I4mm', 'P4mm', 'I4/mmm', 'Cm',
            'Cmc21', 'Pmma', 'Cmmm', 'Im3m', 'Fm3m', 'P6_3/mmc',
            'Im3m', 'Fm3m', 'P6_3/mmc', 'F43m', 'P6_3/mmc', 'Fm3m',
            'c-SnH_x', 'PH_x', 'Pm3n-AIH_3', 'Im3m-CaH6', np.nan, np.nan,
            np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
            np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
            'I4/mmm', 'P6_3/mmc', 'm', 'c', 'm', 'P4/mmm',
            np.nan, np.nan, np.nan, 'P4/mmm', np.nan, np.nan,
            np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
            np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
            np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
            np.nan, 'Pm3', 'Cm', 'P1', 'C2/m', 'Cmmm',
            'C2/m', 'P1', 'I4/mmm', 'R3Â¯m', 'I4/mmm', np.nan,
            np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
            np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
            np.nan, 'C2/m', 'Immm', 'C2/m', 'P21/c', 'Amm2',
            'C2/m', 'P4/nmm', 'C2/m', 'I4/mmm', np.nan, np.nan,
            np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
            np.nan, np.nan, '/mwm', 'Fd-3m', 'Fd-3m', 'Ram',
            'Fd-3m', 'Fd-3m', 'Fd-3m']

orig_formula_cif = ['RbH12', 'RbH12', 'RbH12', 'RbH12', 'RbH12', 'RbH12', 
                    'RbH12', 'CsH7', 'CsH7', 'CsH7', 'CsH7', 'CsH7', 
                    'CsH7', 'RbH3', 'RbH3', 'H3S', 'LaH10', 'YH9', 
                    'YH6', 'ThH10', 'UH7', 'PrH9', 'CeH9', 'CeH10', 
                    'SnHx', 'PHx', 'AlH3', 'CaH6', 'CeBeH8', 'PrBeH8',
                    'ThBeH8', 'AcBH8', 'AcAlH8', 'AcSiH8', 'AcGeH8', 'SrPH8',
                    'BaPH8', 'ThBeH7', 'Nb', 'V', 'Sn', 'Ta',
                    'YH4', 'CeH9', 'CeH10', 'SnH_x', 'CaH6', 'YCeH8',
                    'YCeH18', 'YCeH18', 'YCeH20', 'LaCeH8', 'LaCeH20', 'MgH2',
                    'YH6', 'MgH6', 'CeH9', 'LaH10', 'YH10', 'MgGeH6',
                    'CaYH12', 'MgCaH12', 'H3S', 'LaH10', 'YH9', 'YH6',
                    'ThH10', 'ThH9', 'YH4', 'CeH9', 'CeH10', 'SnHx',
                    'CaH6', 'LaThH6', 'LaTh2H10', 'La3ThH16', 'La2ThH12', 'LaThH8',
                    'LaTh2H12', 'LaTh3H16', 'La3ThH40', 'LaThH20', 'LaTh3H40', 'KH6',
                    'ScH9', 'TiH2', 'VH8', 'CrH3', 'KH10', 'TiH14',
                    'LaH10', 'LaH10', 'HfH2', 'HfH10', 'TaH6', 'HfH14',
                    'BaH12', 'TiH14', 'KH10', 'CaH12', 'ZrH16', 'Hf3H13',
                    'HfH14', 'FrH7', 'RaH12', 'BaH12', 'MgH2', 'CaH6',
                    'YH6', 'MgH6', 'CeH9', 'LaHio', 'YH10', 'MgGeH6',
                    'CaYH12', 'MgCaH12', 'Li2ScH20', 'L12YH17', 'L12iaH17', 'LiScH10',
                    'L12ScH16', 'L12ScH17', 'L12YH16']

pressure = [50.0, 100.0, 150.0, 100.0, 50.0, 100.0, 
            150.0, 100.0, 100.0, 100.0, 100.0, 100.0, 
            100.0, 100.0, 100.0, 150.0, 160.0, 200.0, 
            170.0, 170.0, 70.0, 150.0, 110.0, 100.0, 
            190.0, 200.0, 110.0, 170.0, 30.0, 30.0,
            10.0, 50.0, 20.0, 60.0, 100.0, 60.0,
            100.0, 20.0, 0.0, 0.0, 0.0, 0.0, 
            155.0, 110.0, 100.0, 190.0, 170.0, 100.0,
            150.0, 300.0, 300.0, 100.0, 250.0, 180.0,
            165.0, 300.0, 200.0, 210.0, 250.0, 200.0,
            200.0, 200.0, 150.0, 160.0, 200.0, 170.0,
            170.0, 150.0, 155.0, 110.0, 100.0, 190.0,
            170.0, 5.0, 50.0, 100.0, 200.0, 100.0,
            200.0, 100.0, 200.0, 200.0, 200.0, 166.0,
            300.0, 0.0, 200.0, 81.0, 150.0, 200.0,
            210.0, 170.0, 260.0, 250.0, 300.0, 300.0,
            135.0, 200.0, 150.0, 150.0, 200.0, 100.0,
            300.0, 100.0, 200.0, 135.0, 180.0, 150.0,
            165.0, 300.0, 200.0, 210.0, 250.0, 200.0,
            200.0, 200.0, 300.0, 300.0, 300.0, 300.0,
            300.0, 300.0, 300.0]

Estimated_tc = [108.0, 129.0, 133.0, 82.0, 115.0, 119.0, 
                126.0, 90.0, 34.0, 33.0, 10.0, 5.0, 
                89.0, 0.0, 0.0, 200.0, 286.0, 303.0, 
                270.0, 176.5, 46.0, 56.0, 117.0, 168.0, 
                89.0, 100.0, 24.0, 227.5, 158.0, 11.0,
                74.0, 114.0, 85.0, 163.0, 182.0, 158.0,
                137.0, 63.0, 9.27, 5.385, 3.72, 4.48,
                88.0, 117.0, 168.0, 71.0, 215.0, 4.8,
                173.8, 110.0, 122.1, 1.76, 116.1, 23.0,
                184.0, 263.0, 117.0, 238.0, 265.0, 66.6,
                226.0, 205.0, 203.0, 250.0, 243.0, 224.0,
                161.0, 146.0, 88.0, 90.0, 115.0, 72.0,
                215.0, 0.0, 0.0, 33.4, 10.5, 9.9,
                1.0, 2.9, 162.9, 160.5, 147.4, 70.0,
                163.0, 6.7, 71.4, 37.1, 148.0, 54.0,
                286.0, 255.0, 13.0, 234.0, 136.0, 76.0,
                214.0, 54.0, 148.0, 206.0, 88.0, 43.0,
                76.0, 64.0, 116.0, 214.0, 23.0, 235.0,
                184.0, 263.0, 117.0, 238.0, 265.0, 66.6,
                226.0, 205.0, 242.0, 64.0, 118.0, 52.0,
                262.0, 94.0, 251.0]

Experimental_tc = [np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, 
                   np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, 
                   np.nan, np.nan, np.nan, 203.0, 255.0, 243.0, 
                   224.0, 161.0, 8.0, 6.0, 90.0, 115.0, 
                   76.0, 100.0, 4.0, 215.0, np.nan, np.nan,
                   np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, 
                   np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
                   np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
                   np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
                   np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
                   np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
                   np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
                   np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
                   np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
                   np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
                   np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
                   np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
                   np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
                   np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
                   np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
                   np.nan, np.nan, np.nan]

sc_class = [np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, 
            np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, 
            np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, 
            np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, 
            np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
            np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, 
            np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
            np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
            np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
            np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
            np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
            np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
            np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
            np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
            np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
            np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
            np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
            np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
            np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
            np.nan, np.nan, np.nan, np.nan, np.nan, np.nan,
            np.nan, np.nan, np.nan]

source = ['Phys. Rev. B 101, 144505, 2020'] * 15
source += ['https://www.nature.com/articles/s41586-020-1955-z'] * 13
source += ['https://iopscience.iop.org/article/10.1088/1361-648X/ac9bba/pdf'] * 10
source += [np.nan] * 4
source += [np.nan] * 5
source += ['Peng Song et al. Materials Today Physics, 2022, 100873'] * 6
source += ['D. Semenok, PhD thesis 2022'] * 20
source += ['ArXiv:2210.06371'] * 10
source += ['Semenok, Distribution'] * 23
source += ['Journal of Metals, Materials and Minerals,Vol. 30, No. 2, pp. 31-41, 2020'] * 10
source += ['Phys. Rev. B 106, 024519, 2022'] * 7

Type = ['Hydride'] * 38
Type += ['Metal'] * 4
Type += [np.nan] * 5
Type += [np.nan] * 6
Type += [np.nan] * 20
Type += [np.nan] * 10
Type += [np.nan] * 23
Type += [np.nan] * 10
Type += [np.nan] * 7

print('formula_sc:', len(formula_sc))
print('compound:', len(compound))
print('orig_formula_cif:', len(orig_formula_cif))
print('pressure:', len(pressure))
print('Estimated_tc', len(Estimated_tc))
print('Experimental_tc', len(Experimental_tc))
print('sc_class', len(sc_class))
print('Type:', len(Type))
print('source:', len(source))

df = pd.DataFrame({'formula_sc': formula_sc,
                   'compound' : compound, 
                   'orig_formula_cif': orig_formula_cif, 
                   'pressure': pressure, 
                   'Estimated_tc': Estimated_tc, 
                   'Experimental_tc': Experimental_tc, 
                   'sc_class': sc_class, 
                   'Type': Type,
                   'source' : source
                   })
df

formula_sc: 123
compound: 123
orig_formula_cif: 123
pressure: 123
Estimated_tc 123
Experimental_tc 123
sc_class 123
Type: 123
source: 123

,formula_sc,compound,orig_formula_cif,pressure,Estimated_tc,Experimental_tc,sc_class,Type,source
0,NaN,C2/m,RbH12,50.0,108.0,NaN,NaN,Hydride,"Phys. Rev. B 101, 144505, 2020"
1,NaN,C2/m,RbH12,100.0,129.0,NaN,NaN,Hydride,"Phys. Rev. B 101, 144505, 2020"
2,NaN,C2/m,RbH12,150.0,133.0,NaN,NaN,Hydride,"Phys. Rev. B 101, 144505, 2020"
3,NaN,Cmcm,RbH12,100.0,82.0,NaN,NaN,Hydride,"Phys. Rev. B 101, 144505, 2020"
4,NaN,Immm,RbH12,50.0,115.0,NaN,NaN,Hydride,"Phys. Rev. B 101, 144505, 2020"
...,...,...,...,...,...,...,...,...,...
118,NaN,Fd-3m,L12iaH17,300.0,118.0,NaN,NaN,NaN,"Phys. Rev. B 106, 024519, 2022"
119,NaN,Ram,LiScH10,300.0,52.0,NaN,NaN,NaN,"Phys. Rev. B 106, 024519, 2022"
120,NaN,Fd-3m,L12ScH16,300.0,262.0,NaN,NaN,NaN,"Phys. Rev. B 106, 024519, 2022"
121,NaN,Fd-3m,L12ScH17,300.0,94.0,NaN,NaN,NaN,"Phys. Rev. B 106, 024519, 2022"
122,NaN,Fd-3m,L12YH16,300.0,251.0,NaN,NaN,NaN,"Phys. Rev. B 106, 024519, 2022"

In [ ]:
df.to_csv (r'/content/SC_DATA.csv', index= False)

In [ ]:
df3 = pd.read_csv('/content/3DSC_MP.csv', header = 1)
df3

,formula_sc,formula_similarity,totreldiff,formula_frac,correct_formula_frac,formula_2,orig_formula_cif,tc,sc_class,sc_class_unique_sc,...,monoclinic,orthorhombic,tetragonal,triclinic,trigonal,primitive,base-centered,body-centered,face-centered,weight
0,Ag0.02Ge2Pd1.98Sr1,2,0.008000,1.0,True,Ag0.02Ge2Pd1.98Sr1,Ge2Pd2Sr1,2.640000,Other,True,...,0,0,7,0,0,0,0,1,0,1.0
1,Ag0.15Sn0.85Te1,3,0.150000,1.0,True,Ag0.15Sn0.85Te1,Sn1Te1,2.150000,Other,True,...,0,0,0,0,0,0,0,0,1,1.0
2,Ag0.1Ge2Pd1.9Sr1,2,0.040000,1.0,True,Ag0.1Ge2Pd1.9Sr1,Ge2Pd2Sr1,2.620000,Other,True,...,0,0,7,0,0,0,0,1,0,1.0
3,Ag0.1In0.9Te1,3,0.100000,1.0,True,Ag0.1In0.9Te1,In1Te1,1.200000,Other,True,...,0,0,0,0,0,0,0,0,1,1.0
4,Ag0.2Ba1Si1.8,3,0.133333,4.0,False,Ag0.8Ba4Si7.2,Ba4Si8,3.200000,Other,True,...,0,0,0,0,0,1,0,0,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5768,Y1Zn1,1,0.000000,1.0,True,Y1Zn1,Y1Zn1,0.000000,Other,True,...,0,0,0,0,0,1,0,0,0,1.0
5769,Yb1,1,0.000000,3.0,False,Yb3,Yb3,0.000000,Heavy_fermion,True,...,0,0,0,0,6,1,0,0,0,1.0
5770,Zn1,1,0.000000,2.0,False,Zn2,Zn2,0.850800,Other,True,...,0,0,0,0,0,1,0,0,0,1.0
5771,Zn2Zr1,1,0.000000,2.0,False,Zn4Zr2,Zn4Zr2,0.296667,Other,True,...,0,0,0,0,0,0,0,0,1,1.0
5772,Zr1,1,0.000000,2.0,False,Zr2,Zr2,0.996667,Other,True,...,0,0,0,0,0,1,0,0,0,1.0

In [ ]:
df1 = pd.read_csv('/content/SC_DATA.csv', header = 1)
df1

    Unnamed: 0  RbH12   50.0  108.0  Unnamed: 4  Unnamed: 5  Hydride
0          NaN  RbH12  100.0  129.0         NaN         NaN  Hydride
1          NaN  RbH12  150.0  133.0         NaN         NaN  Hydride
2          NaN  RbH12  100.0   82.0         NaN         NaN  Hydride
3          NaN  RbH12   50.0  115.0         NaN         NaN  Hydride
4          NaN  RbH12  100.0  119.0         NaN         NaN  Hydride
5          NaN  RbH12  150.0  126.0         NaN         NaN  Hydride
6          NaN   CsH7  100.0   90.0         NaN         NaN  Hydride
7          NaN   CsH7  100.0   34.0         NaN         NaN  Hydride
8          NaN   CsH7  100.0   33.0         NaN         NaN  Hydride
9          NaN   CsH7  100.0   10.0         NaN         NaN  Hydride
10         NaN   CsH7  100.0    5.0         NaN         NaN  Hydride
11         NaN   CsH7  100.0   89.0         NaN         NaN  Hydride
12         NaN   RbH3  100.0    0.0         NaN         NaN  Hydride
13         NaN   RbH3  100.0    0.0         NaN         NaN  Hydride
14         NaN    H3S  150.0  200.0       203.0         NaN  Hydride
15         NaN  LaH10  160.0  286.0       255.0         NaN  Hydride
16         NaN    YH9  200.0  303.0       243.0         NaN  Hydride
17         NaN    YH6  170.0  270.0       224.0         NaN  Hydride
18         NaN  ThH10  170.0  176.5       161.0         NaN  Hydride
19         NaN    UH7   70.0   46.0         8.0         NaN  Hydride
20         NaN   PrH9  150.0   56.0         6.0         NaN  Hydride
21         NaN   CeH9  110.0  117.0        90.0         NaN  Hydride
22         NaN  CeH10  100.0  168.0       115.0         NaN  Hydride
23         NaN   SnHx  190.0   89.0        76.0         NaN  Hydride
24         NaN    PHx  200.0  100.0       100.0         NaN  Hydride
25         NaN   AlH3  110.0   24.0         4.0         NaN  Hydride
26         NaN   CaH6  170.0  227.5       215.0         NaN  Hydride